html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

}

h1, h2, h3, h4, h5, h6, em, i {
  font-weight: 100;
  font-style: normal

}

ul, ol, li {
  list-style-type: none

}

a {
  color: #666;
  text-decoration: none;
  outline: 0

}

a:hover {
  text-decoration: none

}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #ebebeb;

}

body {
  font-family: Georgia, serif;

}

i {
  display: inline-block;
  color: red;

}

header {
  position: relative;
  overflow: hidden;
  height: 100%;

}

header h3 {
  color: white;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 14px;

}

header ul{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;

}

header ul li{
  list-style-type: none;
  display: inline-block;

}

header ul li a{
  color: #fff;
  display: block;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;

}

header ul li a:hover {
  padding-left: 15px;
  padding-right: 5px;

}

header > img:nth-of-type(2) {
  position: absolute;
  bottom: 5%;
  width: 20px;
  height: 20px;
  left: calc(50% - 10px);

}

header > img:nth-of-type(1) {
  min-width: 100%;
  height: 100%;

}

header section {
  position: absolute;
  bottom: 10%;
  left: calc(50% - 50px);
  width: 100px;
  font-size: 14px;
  text-align: center;
  height: 30px;
  border: 1px solid white;
  line-height: 30px;
  color: white;

}

header div {
  position: absolute;
  top: 10%;
  text-align: center;
  width: 100%;
  color: white;
}

.main {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;

}

.ABOUTME, .PORTFOLIO > div {
  text-align: center;
  font-size: 16px;
  margin-bottom: 50px;

}

.ABOUTME > div h4, .CONTACTME h3, .PORTFOLIO > div h4 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;

}

.ABOUTME > p {
  width: 600px;
  margin: 0 auto;
  font-weight: 700;
  line-height: 30px;

}

.errorMsg {
  color: red;
  width: 100%;
  text-align: left;
  margin: 5px 0;
  display: none;

}

.sucessMsg {
  color: green;
  width: 100%;
  text-align: left;
  margin: 5px 0;
  display: none;

}

.CONTACTME {
  overflow: auto;
  margin-bottom: 80px;
  padding: 0 8%;

}

.CONTACTME span {
  display: inline-block;
  width: calc(50% - 5px);

}

.CONTACTME a {
  float: right;
  color: black;
  margin-top: 10px;

}

.CONTACTME textarea {
  display: block;
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  resize: none;
  border: 1px solid gainsboro;
  box-shadow: 0 5px 10px #c2c0c0;

}

.CONTACTME label {
  font-size: 18px;
  display: inline-block;
  margin: 10px 0;
  color: black;
  font-weight: 700;

}

.CONTACTME input[type="text"], .CONTACTME input[type="email"] {
  display: block;
  width: 100%;
  height: 30px;
  border: 1px solid gainsboro;
  box-shadow: 0 5px 5px #c2c0c0;

}

.CONTACTME > div > div {
  margin-top: 20px;

}

.CONTACTME > div:nth-of-type(2) p {
  padding-top: 30px;
  padding-left: 5%;
  box-sizing: border-box;
  font-size: 18px;

}

.submitBtn {
  padding: 10px;
  border: 1px solid #000;
  float: right;
  margin: 10px 5px;
  font-size: 120%;
  cursor: pointer;

}

table {
  width: 100%;
}

td {
  text-align: center;
  padding: 10px 0px;

}

/*Portfolio images*/

.PORTFOLIO .image-container {
  display: inline-block;
  width: 30%;
  margin: 1%;
  overflow: hidden;
}

.PORTFOLIO img {
  width: 100%;
  transition: all .2s ease-in-out;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
}

.PORTFOLIO img:hover {
  transform: scale(1.1);
}

.CONTACTME > div {
  width: 50%;
  padding-right: 5%;
  box-sizing: border-box;
  float: left;
}

.fliex {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  overflow: auto;
  height: 100%;
  top: 0;
  padding: 40px 0;
  box-sizing: border-box;
  display: none;
  justify-content: center;
  align-items: center;
}

.fliex #lightbox_banner {
  padding-right: 10px;
  text-align: right;
}


.fliex #lightbox_banner #close_btn{
  color: white;
}

.fliexInner {
  width: 60%;
  height: inherit;
  margin: 0 20%;

}

.fliexInner img {
  width: 70%;
  margin: 0 15%;
  height: auto;
  box-shadow: 0px 0px 16px #fff;

}

.fliexInner div {
  width: 60%;
  margin: 20px 20%;
  padding: 10px;

}

.fliexInner div p {
  color: #fff;
  line-height: 1.5;
  font-size: 120%;

}

.fliexInner div h5 {
  font-size: 200%;

}

.backTop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;

}

.backTop img {
  width: 100%;
  height: 100%;

}

.hiddenIntro, .hiddenLightbox {
  display: none;

}

.pointer {
  cursor: pointer;
}

footer {
  background-color: #666;
  text-align: center;
  padding: 10px;
  color: white;
  font-family: Arial, sans-serif, Serif;
}

footer img{
  width: 30px;
}

@media screen and (max-width: 773px) {
  .main {
    width: 90%;
    transition: transform 0.5s;

  }
  .CONTACTME > div {
    width: 100%;
    padding-right: 0;

  }
  .CONTACTME {
    padding: 0;

  }
  td {
    display: block;
    padding: 0px;
    margin-bottom: 20px;

  }
  .PORTFOLIO .image-container {
    width: 100%;
    margin: 0;

  }
  .ABOUTME > p {
    width: 100%;

  }
  .fliex img {
    width: 100%;
    margin: 0;

  }
  header ul li a {
    font-size: 80%;

  }
  .fliexInner {
    width: 90%;
    margin: 0 5%;

  }
  .fliexInner div {
    width: 100%;
    margin: 0;
  }

}
